html {
  background-color: var(--background-color);
  color: var(--font-color);
}

.flex-layout {
  display: flex;
  height: 100%;

  &.vertical {
    flex-direction: column;
  }

  &.layout-center-h {
    justify-content: center;
  }

  &.layout-space-between {
    justify-content: space-between;
  }

  &.layout-space-around {
    justify-content: space-around;
  }

  &.layout-center-v {
    align-items: center;
  }
}

.input-full-width {
  width: 100%;
}
