.text-warning {
  color: var(--color-warning);
}

.text-title {
  color: var(--color-black);
}

.text-subtitle {
  color: var(--color-black-light);
}

.text-center {
  text-align: center;
}

.height-100 {
  height: 100px;
}
